<% provide(:title, 'Confirmation') %>
<div class="row">
  <div class="col-md-12">
    <h2>Thank you for registering for LYF Camp <%= @camp.year %>!</h2>
  </div>
</div>
<div class="row space-above-wide">
  <div class="col-md-12">
    <p>Your registration is now complete!<% if @camp.is_waitlist_period? %> You have been added to the waitlist.<% end %> Please look out for an email confirmation shortly.</p>
    <p>If you have any questions, please contact <%= mail_to "emily.chou@tacl.org", "emily.chou@tacl.org" %>.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Save the date!</h4>
    <ul class="padding-smaller space-above-narrow">
      <li style="margin-bottom: 0.5rem;">
        <b>Winter Reunion</b> - January 6th, 2019
        <ul>
          <li>12pm - 3pm @ Nazareth Ice Oasis</li>
          <li>3140 Bay Road, Redwood City, 94063</li>
        </ul>
      </li>
      <li style="margin-bottom: 0.5rem;">
        <b>New Parent Orientation</b> - June 9th, 2019 (Tentative)
        <ul>
          <li>Time and location TBA</li>
        </ul>
      </li>
      <li style="margin-bottom: 0.5rem;">
        <b>Parent's Program</b> - June 30th, 2019
        <ul>
          <li>Time TBA @ TECO Center Milpitas</li>
          <li>100 S. Milpitas Blvd. Milpitas, CA 95035</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
