<% provide(:title, 'Confirmation') %>
<div class="row">
  <div class="col-md-12">
    <h2>Thank you for registering for LYF Camp <%= @camp.year %>!</h2>
  </div>
</div>
<div class="row space-above-wide">
  <div class="col-md-12">
    <p>Your registration is now complete!<% if @camp.is_waitlist_period? %> You have been added to the waitlist.<% end %> Please look out for an email confirmation shortly.</p>
    <p>If you have any questions, please contact <%= mail_to "lyf@tacl.org", "lyf@tacl.org" %>.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Next Steps</h4>
    <h5>Payment & Proof of Vaccination</h5>
    <p>In the next two weeks, we will begin sending out invoices for your active registrations. Please complete payments as well as email a photocopy of your camper's COVID-19 vaccine record to <%= mail_to "lyf@tacl.org", "lyf@tacl.org" %> by July 24th.</p>
    <h5>Virtual Parent Orientation - Time TBA</h5>
    <p>We will be holding a general parents orientation this year on July 24th. During this (optional) virtual orientation, we will be going through pictures of the new campsite, our new COVID-19 safety protocols, and also a general Q & A session. A meeting link will be emailed to all registered campers at a later date.</p>
  </div>
</div>
