<div class="row">
  <div class="col-md-12">
    <p>Your donation has been processed. You will receive an email confirmation from us shortly. If you have any questions, please contact <%= mail_to "christopher.lee@tacl.org", "christopher.lee@tacl.org" %>.</p>
  </div>
</div>
