<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% f.object.class.stored_attributes[field.attribute].each do |size| %>
    <div class="inline-wrapper">
      <%= f.label size, size.to_s.titlecase.gsub(/^(.+?)\s/){|x| x.upcase}, class: 'attribute-label' %>
      <%= f.number_field size, min: 0%>
    </div>
  <% end %>
</div>
