.sidebar, .main-content {
  font-size: 0.85rem;
}

.inline-wrapper {
  display: inline-block;
  width: 15.7%;
  .attribute-label {
    width: auto;
  }
}

.nested-fields {
  width: 100%!important;
  margin-left: 5%!important;
}
