<h1 style="text-align: center;">TACL-LYF Donation Confirmation</h1>

<p>
  Thank you for your donation to TACL-LYF!
</p>

<p>
  We have received your donation of <b><%= number_to_currency @donation.amount %></b> via <%= "#{@donation.stripe_brand} #{"*"*12}#{@donation.stripe_last_four}" %>.<% if @donation.amount >= 100 %> Please look out for an email with a donation receipt for charitable tax deductions from us shortly.<% end %>
</p>

<p>
  If you have any questions, please email lyf.treasurer@tacl.org.
</p>
