<% provide(:title, 'Confirmation') %>
<div class="row">
  <div class="col-md-12">
    <h2>Thank you for registering for LYF Camp 2017!</h2>
  </div>
</div>
<div class="row space-above-wide">
  <div class="col-md-12">
    <p><b>Your registration is now complete.</b> Please look out for an email confirmation. <b>If you have any questions, please contact our Operations Director, Annie Huang at annie.huang@tacl.org.</b></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Save the date!</h4>
    <ul class="padding-smaller">
      <li>January 7th, 2017 - Winter Reunion (2:00pm - 5:00pm)</li>
      <li>June 10th, 2017 - Parent Orientation (2:00pm - 4:00pm)</li>
      <li>June 24th, 2017 - Parent's Program (1:00pm - 4:00pm)</li>
      <li>August 19th, 2017 - Summer Reunion, 35th Anniversary (11:00am - 4:00pm)</li>
    </ul>
  </div>
</div>
