<% provide(:title, 'Confirmation') %>
<div class="row">
  <div class="col-md-12">
    <h2>Your registration has been submitted!</h2>
  </div>
</div>
<div class="row space-above-wide">
  <div class="col-md-12">
    <p>Please look out for an email confirmation.</p>
  </div>
</div>
