<% provide(:title, 'LYF Camp Registration 2017 | Confirmation') %>
<div class="row">
  <div class="col-md-12">
    <h1>LYF Camp 2017 Registration <small>Confirmation</small></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>Your registration has been submitted! Please look out for an email confirmation.</p>
    <p><b>TODO:</b> list registration details below</p>
  </div>
</div>
