<% provide(:title, 'LYF Camp 2017 Registration') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= image_tag "logo.png", size: "140", alt: "TACL-LYF Logo" %>
    <h1>Register for LYF Camp 2017!</h1>
    <p class="space-above-chasm">Landing page information to be added</p>
    <p class="vag space-above-chasm">
      $680<br>
      General Registration<br>
      (Dec 10, 2016 &ndash; Mar 10, 2017)
    </p>
    <p class="vag space-above-med">
      $700<br>
      Late Registration<br>
      (Mar 11 &ndash; May 1, 2017)
    </p>
    <p class="space-above-massive">
      <%= link_to "Get Started", wizard_path(:parent), class: "btn btn-big btn-lg btn-redmagenta" %>
    </p>
  </div>
</div>
