<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= image_tag "logo.png", size: "136", alt: "TACL-LYF Logo" %>
    <h1>Register for LYF Camp 2017!</h1>
    <p class="space-above-chasm">Landing page information to be added</p>
    <p class="vag space-above-chasm">
      $680<br>
      General Registration<br>
      (Dec 1, 2016 &ndash; Mar 31, 2017)
    </p>
    <p class="vag space-above-med">
      $720<br>
      Late Registration<br>
      (Apr 1 &ndash; May 1, 2017)
    </p>
    <p class="space-above-med">
      Waitlist begins May 1, 2017. LYF Camp has a limited number of spots, so be sure to register early! You'll be placed on a waitlist once we hit the registration cap.
    </p>
    <p class="space-above-massive">
      <%= link_to "Get Started", wizard_path(:parent), class: "btn btn-big btn-lg btn-redmagenta" %>
    </p>
  </div>
</div>
